- if current_user
  %li= link_to 'Inbox', '#', class: 'navbar-brand'
  %li= link_to 'My Training', training_stations_path, class: 'navbar-brand'
  %li= link_to 'Certification', '#', class: 'navbar-brand'
  %li= link_to 'Schedule', '#', class: 'navbar-brand'
  %li= link_to 'Payroll', pay_stubs_path, class: 'navbar-brand'
  %li= link_to 'Learning Centre', learning_modules_path, class: 'navbar-brand'
  %li= link_to 'Legends', '#', class: 'navbar-brand'
  %li= link_to 'Settings', edit_user_registration_path, class: 'navbar-brand'
  %li= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'navbar-brand'