!!!
%html
  %head
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %title= content_for?(:title) ? yield(:title) : 'Crave Employee Portal'
    %meta{ name: 'description', content: (content_for?(:description) ? yield(:description) : 'Crave Employee Portal').to_s }
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{ class:  "#{controller_path.tr('_', '-').tr('/', '-')} #{action_name.tr('_', '-')}" }
    .wrapper
      %main{ role: 'main' }
        - if user_signed_in?
          .sidebar
            = render 'layouts/sidebar'
        = render 'layouts/messages'
        = render 'layouts/navigation'
        .content
          = yield
